header, main, footer {
text-align: center;
color: black;
width: 800px;
margin: auto;
border-radius: 3.2px;

}

header img {
    float: right;
}

header{
    margin-top: 100px;
    text-decoration: underline;
    background-color: rgb(161, 139, 139);;
}

main {
    background-color: rgb(161, 139, 139);
}

footer{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

main ul {

    text-align: left;
    max-width: 600px;
    margin: auto;
}
