@import url('https://fonts.googleapis.com/css?family=Baloo|Sacramento|Sen&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-family: 'Baloo';
    font-size: 30px;
    display:inline-block;
    vertical-align: middle;
    margin: 0px;
}
 
h1 span {
    font-family: 'Sacramento';
}

header {
    padding: 30px;
    background-color: white;
}

header h2{
    font-size: 16px;
    margin-top: -5px;
}

header img{
    display:inline-block;
    width: 80px;
    vertical-align: middle;
}

body {
    margin: 0px;
    font-family: 'Sen';
    background-color: #C9E7FF;
}

nav {
    text-align: center;
}

nav li {
    list-style: none;
}

nav ul {
    padding-left: 0px;
}

nav #menuList {

    display: none;


}

nav #prestonMenu::after {
    content: "Magic";
}

#prestonTitle {
    font-size: 28px;
    font-family: "Baloo";
}

#sec1 {

    text-align: center;

}

#sec2 {
    
    text-align: center;

}

#sec3 {
    
    text-align: center;

}

footer {
    text-align: center;
}

footer p {

    font-size: 12px;

}