main > div {
    grid-template-columns: auto auto auto;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

figure {
    padding: 7%;
}

main img{
    display:inline-block;
    width: 80px;
    vertical-align: middle;
}

main h2 {
    font-size: 16px;
    margin-top: -5px;
}

main h1 {
    font-family: 'Baloo';
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}

#beelogo {
    background-color: white;
    margin: auto;
    /* width: 100%; */

}

#beelogo h3 {
    font-size: 40px;
    text-align: center;
    vertical-align: center;
}

header {
    padding: 100px 0 0 0;
    background-color: white;
    margin-left: 50px;
}

#menuList {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 0;
    padding-bottom: 5px;
}

.top-bar {
    display: flex;
    flex-direction: column;
    background-color: white;
}

