main > div {
    grid-template-columns: auto auto auto;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

figure {
    padding: 7%;
}

main img{
    display:inline-block;
    width: 80px;
    vertical-align: middle;
}

main h2 {
    font-size: 16px;
    margin-top: -5px;
}

main h1 {
    font-family: 'Baloo';
    font-size: 30px;
    display:inline-block;
    vertical-align: middle;
    margin: 0px;
}

#beelogo {
    background-color: white;
}

#beelogo h3 {
    font-size: 40px;
    text-align: center;
    vertical-align: center;
}

header {
    padding: 100px 0 30px 0;
    background-color: white;
    margin-left: 50px
}

#menuList {
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}
